<!DOCTYPE html>
<html>
  <head>
    <title>Burogu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    
    <%= turbo_include_tags %>
    
    <style>
        /* Add this style block */
        #rainCanvas {
            position: fixed; /* or absolute */
            top: 0;
            left: 0;
            z-index: -1;
        }
    </style>
  </head>

  <body>
      <%= render 'shared/header' %>
      <!-- Add a div to contain the yielded content -->
      <div class="content">
          <%= yield %>
      </div>
      <canvas id="rainCanvas"></canvas>
      <%= javascript_include_tag 'rain_animation' %>
      <%= render 'shared/footer' %>
  </body>
</html>
